[Unit]
Description=esphome

[Container]
Image=docker.io/esphome/esphome:stable
ExecArgs=--pull=always
ContainerName=esphome
Volume=hass-esphome:/config
Volume=/etc/localtime:/etc/localtime:ro
EnvironmentFile=%h/.podman_home_server/hass.env
Network=host
#PublishPort=6052:6052

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
