[Unit]
Description=hass-conf
Requires=hass-hass.service
After=hass-hass.service
Requires=esphome.service
After=esphome.service
Requires=hass-mosquitto.service
After=hass-mosquitto.service
Requires=nodered.service
After=nodered.service

[Container]
Image=docker.io/causticlab/hass-configurator-docker:latest
ContainerName=hass-conf
Volume=hass-hassconf:/config
Volume=hass-config:/configs/home-assistant
Volume=hass-esphome:/configs/esphome
Volume=hass-mosquitto-config:/configs/mosquitto
Volume=nodered-data:/configs/nodered
Pod=hass.pod
#PublishPort=3218:3218

[Service]
Restart=on-failure
RestartSec=30
TimeoutStopSec=70
ExecStartPre=podman pull docker.io/causticlab/hass-configurator-docker:latest

[Install]
WantedBy=multi-user.target default.target
