[Unit]
Description=hass-conf
Requires=hass-hass.service
After=hass-hass.service
Requires=esphome.service
After=esphome.service
Requires=hass-mosquitto.service
After=hass-mosquitto.service

[Container]
Image=docker.io/causticlab/hass-configurator-docker:latest
ContainerName=hass-conf
Environment="BASEPATH=/config"
Volume=hass-config:/config/home-assistant
Volume=hass-esphome:/config/esphome
Volume=hass-mosquitto-config:/config/mosquitto
Pod=hass.pod
#PublishPort=3218:3218

[Service]
Restart=on-failure
RestartSec=30
TimeoutStopSec=70
ExecStartPre=podman pull docker.io/causticlab/hass-configurator-docker:latest

[Install]
WantedBy=multi-user.target default.target
