[Unit]
Description=hass-mosquitto

[Container]
Image=docker.io/eclipse-mosquitto:latest
ExecArgs=--pull=always
ContainerName=hass-mosquitto
Volume=hass-mosquitto-config:/mosquitto/config
Volume=hass-mosquitto-data:/mosquitto/data
Volume=hass-mosquitto-log:/mosquitto/log
Pod=hass.pod
#PublishPort=1883:1883

[Service]
Restart=always
ExecStartPre=mkdir -p hass-mosquitto-config
ExecStartPre=mkdir -p hass-mosquitto-data
ExecStartPre=mkdir -p hass-mosquitto-log

[Install]
WantedBy=multi-user.target default.target
