[Unit]
Description=nodered

[Container]
Image=docker.io/nodered/node-red
ExecArgs=--pull=always
ContainerName=nodered
Volume=nodered-data:/data
#Environment=NODE_OPTIONS="--httpAdminRoot=/ui/"
UserNS=keep-id
Network=pasta
PublishPort=1880:1880

[Service]
Restart=always
ExecStartPre=podman pull docker.io/nodered/node-red

[Install]
WantedBy=multi-user.target default.target
