[Unit]
Description=nextcloud-redis

[Container]
Image=localhost/nextcloud_redis
ContainerName=nextcloud-redis
EnvironmentFile=$HOME/.podman_home_server/nextcloud.env
Pod=nextcloud.pod

[Service]
Restart=always
ExecStartPre=podman build --tag nextcloud_redis /container/apps/nextcloud/nextcloud_redis

[Install]
WantedBy=multi-user.target default.target
