[Unit]
Description=nextcloud-postgres

[Container]
Image=localhost/nextcloud_postgres
ContainerName=nextcloud-postgres
EnvironmentFile=$HOME/.podman_home_server/nextcloud.env
Volume=nextcloud-pgdata:/postgres/data
Pod=nextcloud.pod

[Service]
Restart=always
ExecStartPre=podman build --tag nextcloud_postgres /container/apps/nextcloud/nextcloud_postgres

[Install]
WantedBy=multi-user.target default.target
