[Unit]
Description=nextcloud-collabora

[Container]
Image=docker.io/collabora/code:latest
ContainerName=nextcloud-collabora
EnvironmentFile=/container/envfiles/nextcloud.env
Volume=nextcloud-collabora:/etc/coolwsd
Pod=nextcloud.pod
#PublishPort=9980:9980

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
